// Flex Row Justify Content

@mixin fr-jc-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin fr-jc-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin fr-jc-fs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin fr-jc-fe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@mixin fr-jc-sa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin fr-jc-se {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

// Flex Row Align Items

@mixin fr-ai-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin fr-ai-fs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin fr-ai-fe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@mixin fr-ai-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

@mixin fr-ai-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
