@mixin f-size-regular($h1: $f-5xl, $h2: $f-3xl, $h3: $f-xl, $h4: $f-lg, $p: $f-md){
    h1{
    font-size: $h1;
    }
    h2{
     font-size: $h2;
    }
    h3{
     font-size: $h2;
    }
    h4{
     font-size: $h2;
    }
    p{
     font-size: $p;
    }
   }