@mixin colored-text($backgroundSolid: #3A0CA3,
    $textColor: #ffffff,
    $gradient: linear-gradient,
    $deg: 140deg,
    $backgroundStart: orange,
    $backgroundEnd: red,
    $f-size: $f-10xl)
    {

    font-size: $f-size;

    @if type-of($background)==color {
        background: $background;
        color: $textColor;
    }

    @else {
        background: $gradient($deg,
                $backgroundStart,
                $backgroundEnd);
        -webkit-background-clip: text;
        color: $textColor;
    }
}