/* @mixin colored-text(
  $backgroundSolid: #3a0ca3,
  $textColor: #ffffff,
  $gradient: "linear-gradient",
  $deg: 140deg,
  $backgroundStart: orange,
  $backgroundEnd: red,
  $f-size: $f-10xl
) {
  font-size: $f-size;

  @if type-of($backgroundSolid) == 'color' {
    background: $backgroundSolid;
    color: $textColor;
  } @else {
    background: $gradient($deg, $backgroundStart, $backgroundEnd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
} */

@mixin colored-text(
  $gradient: linear-gradient,
  $deg: 140deg,
  $backgroundStart: orange,
  $backgroundEnd: red,
  $f-size: $f-10xl
) {
  font-size: $f-size;
  background: $gradient($deg, $backgroundStart, $backgroundEnd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}