// Positioning
// Flex Column Justify Content

$fc-jc-c: (
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-items: center
);

$fc-jc-sb: (
    display: flex,
    flex-direction: column,
    justify-content: space-between,
    align-items: center
);

$fc-jc-fs: (
    display: flex,
    flex-direction: column,
    justify-content: flex-start,
    align-items: center
);

$fc-jc-fe: (
    display: flex,
    flex-direction: column,
    justify-content: flex-end,
    align-items: center
);

$fc-jc-sa: (
    display: flex,
    flex-direction: column,
    justify-content: space-around,
    align-items: center
);

$fc-jc-se: (
    display: flex,
    flex-direction: column,
    justify-content: space-evenly,
    align-items: center
);

// Flex Column Align Items

$fc-ai-c: (
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-items: center
);

$fc-ai-fs: (
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-items: flex-start
);

$fc-ai-fe: (
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-items: flex-end
);

$fc-ai-b: (
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-items: baseline
);

$fc-ai-s: (
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-items: stretch
);


// Flex Row Justify

$fr-jc: (
    display: flex,
    flex-direction: row,
    justify-content: center,
    align-items: center
);

$fr-jsb: (
    display: flex,
    flex-direction: row,
    justify-content: space-between,
    align-items: center
);

$fr-js: (
    display: flex,
    flex-direction: row,
    justify-content: flex-start,
    align-items: center
);

$fr-je: (
    display: flex,
    flex-direction: row,
    justify-content: flex-end,
    align-items: center
);

$fr-jsa: (
    display: flex,
    flex-direction: row,
    justify-content: space-around,
    align-items: center
);

$fr-jse: (
    display: flex,
    flex-direction: row,
    justify-content: space-evenly,
    align-items: center
);
