// Font Sizes px

$f-5xs: 2px;
$f-4xs: 4px;
$f-3xs: 6px;
$f-xxs: 8px;
$f-xs: 10px;
$f-sm: 12px;
$f-md: 14px;
$f-lg: 16px;
$f-xl: 18px;
$f-xxl: 20px;
$f-3xl: 22px;
$f-4xl: 24px;
$f-5xl: 26px;
$f-6xl: 28px;
$f-7xl: 30px;
$f-8xl: 32px;
$f-9xl: 34px;
$f-10xl: 36px;
$f-11xl: 38px;
$f-12xl: 40px;
$f-13xl: 42px;
$f-14xl: 44px;
$f-15xl: 46px;
$f-16xl: 48px;
$f-17xl: 50px;
$f-18xl: 52px;
$f-19xl: 54px;
$f-20xl: 56px;

// Font Sixes rem

$f-5xs-rem: 0.1rem;
$f-4xs-rem: 0.2rem;
$f-3xs-rem: 0.3rem;
$f-xxs-rem: 0.4rem;
$f-xs-rem: 0.5rem;
$f-sm-rem: 0.6rem;
$f-md-rem: 0.7rem;
$f-lg-rem: 0.8rem;
$f-xl-rem: 0.9rem;
$f-xxl-rem: 1rem;
$f-3xl-rem: 1.1rem;
$f-4xl-rem: 1.2rem;
$f-5xl-rem: 1.3rem;
$f-6xl-rem: 1.4rem;
$f-7xl-rem: 1.5rem;
$f-8xl-rem: 1.6rem;
$f-9xl-rem: 1.7rem;
$f-10xl-rem: 1.8rem;
$f-11xl-rem: 1.9rem;
$f-12xl-rem: 2rem;
$f-13xl-rem: 2.1rem;
$f-14xl-rem: 2.2rem;
$f-15xl-rem: 2.3rem;
$f-16xl-rem: 2.4rem;
$f-17xl-rem: 2.5rem;
$f-18xl-rem: 2.6rem;
$f-19xl-rem: 2.7rem;
$f-20xl-rem: 2.8rem;

// Font Sizes em

$f-5xs-em: 0.1em;
$f-4xs-em: 0.2em;
$f-3xs-em: 0.3em;
$f-xxs-em: 0.4em;
$f-xs-em: 0.5em;
$f-sm-em: 0.6em;
$f-md-em: 0.7em;
$f-lg-em: 0.8em;
$f-xl-em: 0.9em;
$f-xxl-em: 1em;
$f-3xl-em: 1.1em;
$f-4xl-em: 1.2em;
$f-5xl-em: 1.3em;
$f-6xl-em: 1.4em;
$f-7xl-em: 1.5em;
$f-8xl-em: 1.6em;
$f-9xl-em: 1.7em;
$f-10xl-em: 1.8em;
$f-11xl-em: 1.9em;
$f-12xl-em: 2em;
$f-13xl-em: 2.1em;
$f-14xl-em: 2.2em;
$f-15xl-em: 2.3em;
$f-16xl-em: 2.4em;
$f-17xl-em: 2.5em;
$f-18xl-em: 2.6em;
$f-19xl-em: 2.7em;
$f-20xl-em: 2.8em;

// Font Sizes vw

$f-5xs-vw: 0.1vw;
$f-4xs-vw: 0.2vw;
$f-3xs-vw: 0.3vw;
$f-xxs-vw: 0.4vw;
$f-xs-vw: 0.5vw;
$f-sm-vw: 0.6vw;
$f-md-vw: 0.7vw;
$f-lg-vw: 0.8vw;
$f-xl-vw: 0.9vw;
$f-xxl-vw: 1vw;
$f-3xl-vw: 1.1vw;
$f-4xl-vw: 1.2vw;
$f-5xl-vw: 1.3vw;
$f-6xl-vw: 1.4vw;
$f-7xl-vw: 1.5vw;
$f-8xl-vw: 1.6vw;
$f-9xl-vw: 1.7vw;
$f-10xl-vw: 1.8vw;
$f-11xl-vw: 1.9vw;
$f-12xl-vw: 2vw;
$f-13xl-vw: 2.1vw;
$f-14xl-vw: 2.2vw;
$f-15xl-vw: 2.3vw;
$f-16xl-vw: 2.4vw;
$f-17xl-vw: 2.5vw;
$f-18xl-vw: 2.6vw;
$f-19xl-vw: 2.7vw;
$f-20xl-vw: 2.8vw;

// Font Sizes vh

$f-5xs-vh: 0.1vh;
$f-4xs-vh: 0.2vh;
$f-3xs-vh: 0.3vh;
$f-xxs-vh: 0.4vh;
$f-xs-vh: 0.5vh;
$f-sm-vh: 0.6vh;
$f-md-vh: 0.7vh;
$f-lg-vh: 0.8vh;
$f-xl-vh: 0.9vh;
$f-xxl-vh: 1vh;
$f-3xl-vh: 1.1vh;
$f-4xl-vh: 1.2vh;
$f-5xl-vh: 1.3vh;
$f-6xl-vh: 1.4vh;
$f-7xl-vh: 1.5vh;
$f-8xl-vh: 1.6vh;
$f-9xl-vh: 1.7vh;
$f-10xl-vh: 1.8vh;
$f-11xl-vh: 1.9vh;
$f-12xl-vh: 2vh;
$f-13xl-vh: 2.1vh;
$f-14xl-vh: 2.2vh;
$f-15xl-vh: 2.3vh;
$f-16xl-vh: 2.4vh;
$f-17xl-vh: 2.5vh;
$f-18xl-vh: 2.6vh;
$f-19xl-vh: 2.7vh;
$f-20xl-vh: 2.8vh;